:root {
  --body-color: #a8ff78;
  --header-color: #2c3639;
  --footer-color: #2c3639;
  --menu-color: #2c3639;
  --primary-color: #f8f8ff;
  --body-font-color: #000000;
  --header-font-color: #ffffff;
  --menu-font-color: #ffffff;
  --footer-font-color: #ffffff;
  --grey: rgb(197, 196, 196);
  --button-color: #91FBB4;
  --button-hover-color: #74cf92;
  --input-color: #dcdcdc;
}

body {
  background: var(--body-color);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #5bbbab, #5bbbab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #5bbbab, #5bbbab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: var(--body-font-color);
  overflow-x: hidden;
}
  
  /* Header */
  
  header {
    background-color: var(--header-color);
    color: var(--header-font-color);
    /* position: sticky;
    top: 0; */
  }
  
  .header-container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  
  .header-container > a {
    text-decoration: none;
    color: var(--header-font-color);
    font-size: 28px;
  }
  
  .header-container > i {
    font-size: x-large;
  }
  
  #menu-container {
    position: absolute;
    top: 0;
    right: -71%;
    width: 70%;
    background-color: var(--menu-color);
    border-radius: 0 0 0 10px;
    transition: all 0.5s;
    z-index: 10;
  }
  
  #container-close-menu {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
    color: var(--menu-font-color);
  }
  
  header nav ul {
    list-style: none;
    margin: 0 0 0 -32px;
  }
  
  header nav a {
    border-top: 1px solid var(--grey);
    display: block;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    color: var(--menu-font-color);
  }
  
  
  
  /* Footer */
  
  footer {
    background-color: var(--footer-color);
    padding: 25px 0;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
  }
  
  footer ul a {
    color: var(--footer-font-color);
    text-decoration: none;
    display: block;
    padding: 5px 0;
  }
  
  footer ul a:hover {
    text-decoration: underline;
  }
  
  .iconos {
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .iconos button {
    height: 40px;
  }
  
  /* Donaciones */
  
  .form {
    background-color: var(--primary-color);
    color: var(--body-font-color);
    border-radius: 25px;
    margin: 50px left;
    padding: 50px 50px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  
  .form-container {
    height: 430px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }
  
  .progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    counter-reset: step;
    padding: 25px 0;
  }
  
  .progress-bar::before, #progress {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--grey);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #progress {
    background-color: #91FBB4;
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 45px;
    height: 45px;
    background-color: var(--grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: 75%;
    color: var(--grey);
  }
  
  .progress-step-active {
    background-color: var(--button-color);
    transition: 0.5s;
  }
  
  .form-step {
    display: none;
    animation: animate 0.5s;
    transform-origin: top;
  }
  
  .form-step-active {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
  }
  
  @keyframes animate {
    from {
      transform: scale(1,0);
      opacity: 0;
    }
    to {
      transform: scale(1,1);
      opacity: 1;
    }
  }
  
  .input-style {
    display: block;
    width: 100%;
    border: none;
    background-color: var(--input-color);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40px;
  }
  
  .check-container {
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
  }
  
  .check-container > label {
    padding-bottom: 6px;
    margin-right: 10px;
  }
  
  .check-container > input {
    height: 15px;
    width: 15px;
  }
  
  #resumen > p {
    height: 40px;
  }
  
  .btns-group, .inline-input {
    display: flex;
    justify-content: space-between;
  }
  
  .button {
    border: none;
    background-color: var(--button-color);
    border-radius: 5px;
    display: block;
    height: 40px;
    width: 100%;
  }
  
  .button:hover {
    background-color: var(--button-hover-color);
  }
  
  .width-2 {
    width: 47%;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  @media screen and (min-width: 576px) {
  /* Header */
    .header-container {
      padding: 0 0 0 18px;
    }
  
    #responsive-menu-button {
      display: none;
    }
  
    #menu-container {
      position: static;
      width: auto;
      background-color: transparent;
      border-radius: 0;
    }
  
    #container-close-menu {
      display: none;
    }
  
    header nav ul {
      display: flex;
      flex-direction: row;
    }
  
    header nav a {
      border: none;
      color: var(--header-font-color);
      padding: 5px 15px;
      margin: 0 3px;
    }
  
    /* Donaciones */
  
    .form {
      padding: 60px 60px;
    }
  }
  #milogo {
    width: 280px;
    height: 230px;
    margin-top: 2%;
  }

  .img-container {
    
  }