/*general*/
::-webkit-scrollbar{
    display: none;
  }
  /*header*/
  
  .header-container {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
    }
    .header-container > a {
      text-decoration: none;
      color: #ffffff;
      font-size: 28px;
    }
    header{
      background-color: #181818;
      position: fixed;
      width: 100%;
      z-index: 2;
    }
    #menu-container {
      position: absolute;
      top: 0;
      right: -70%;
      width: 70%;
      background-color: #181818;
      border-radius: 0 0 0 10px;
      transition: all 0.5s;
    }
    #container-close-menu {
      height: 60px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 30px;
      color: #000000;
    }
    nav ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      margin-left: -22px;
    }
    nav li {
      text-align: center;
      padding: 15px 0;
      border-top: 1px solid rgb(197, 196, 196);
    }
    nav a {
      display: block;
      text-decoration: none;
      color: #ffffff;
    }
    @media screen and (min-width: 576px) {
      .header-container {
        padding: 0;
      }
      #responsive-menu-button {
        display: none;
      }
      #menu-container {
        position: static;
        width: auto;
        background-color: transparent;
        border-radius: 0;
      }
      #container-close-menu {
        display: none;
      }
      nav ul {
        flex-direction: row;
        margin: 0;
      }
      nav li {
        border: none;
        padding: 0 20px;
      }
      nav a {
        color: #ffffff;
      }
    }
    .header-button{
      color: #1d2c48;
      font-size: 32px;
    }
    
    /*main*/

		main{		
			background-color: #12360e;
			background-image: url(img/rio.jpg);
			background-repeat: no-repeat;
		}
		#negro{
			padding: 40px 0;			
			background: linear-gradient(180deg,#d6cfcf,#1a6a93);
			border-top: #181818 solid 5px;	
		}
    #principal{
        padding-top: 130px;
        padding-bottom: 140px;
        margin-bottom: 20px;
    }
    .row{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #div__formulario{
        max-width: 350px;        
        min-width: 290px;
        height: 420px;
				border-radius: 20px;
        background-color: #000000;
				opacity: .9;
				color: #ffffff;
    }
    #div__aside{
        position: fixed;
        width: 100px;
        height: 500px;
        top: 0%;
        right: 0%;
        z-index: 1;
        padding-top: 60px;
    }
		a{
			text-decoration: none;
			color: #181818;
		}
		#div__aside aside ul li a i{
			font-size: 20px;
			color: #181818;
		}
		ul{			
  		list-style: none;
		}
    .texto{
			position: relative;
        height: 200px;
        min-width: 240px;
        background-color: #c6c2c2;
    }
		.texto a button{
			position: absolute;
			bottom: 10%;
			right: 10%;
			width: 18%;
			height: 24px;
			border-radius: 20px;
		}
    @media screen and (max-width: 688px) {
          #div__aside {
            display: none;
            position: relative;
          }
        }
    form{
      padding: 20px;
    }
		.valores{
			margin: 5px 0;
		}
		input{
			padding: 5px;
		}
		#montos{
			padding: 10px 0;
		}
		#montos button{
			margin: 0;
			width: 32.4%;
			height: 30px;
			border-radius: 10px;
		}
    #nombre{
      width: 100%;
    }
    #apellido{
			width: 100%;
    }
		#juntos{
			display: flex;
		}  
    #codigo{
			width: 95%;
    }
    #telefono{
			width: 100%;
    }
    #email{
			width: 100%;
    }
		#voluntad{
			width: 60%;
		}
		.valores button{			
			margin: 0;
			width: 38.4%;
			height: 40px;
			border-radius: 10px;
		}
    /*pre-footer*/
    
    .modal-content{
      margin-top: 180px;
      background: linear-gradient(180deg,#1d2c48,#1a6a93);
      color: #f8f8ff;
    }  
    .we-need-you {
      color: #000000;
      background-color: #f8f8ff;
      background-image: url(img/background-ge7313af80_1280.jpg);
      text-align: center;
      padding: 50px 0;
      height: 265px;
    }
    .carousel-item{
      height: 170px;
    }
    #prev{
      left: 10%;
    }
    #next{
      right: 10%;
    }
    .natu{
      max-width: 882px;
      height: 100%;
      margin: auto;
    }
    
    /*footer*/
    
    footer {
      background-color: #181818;
      width: 100%;
      bottom: 0%;
    }
    #footer__bajo{
        margin: 0;
      padding: 25px 0px;
    }
    footer ul {
      list-style: none;
      margin: 0;
    }
    footer ul a {
      color: #ffffff;
      text-decoration: none;
      display: block;
      padding: 5px 0;
    }
    footer ul a:hover {
      text-decoration: underline;
    }
    .iconos {
      padding: 25px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .iconos button {
      height: 40px;
    }