/*general*/
::-webkit-scrollbar{
	display: none;
}
body{
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}
#negro{
	background-color: #5bbbab;
}
.boceto__img{
	background-color: #dedede;
}
.texto h1{
	font-size: 2rem;
	font-weight: bold;
}
.texto h2{
	font-size: 2rem;
	font-weight: bold;
}
.texto p{
	font-size: 1.2rem;
}
h4{
	font-weight: bold;
}
.explicacion p{
	font-size: 1.2rem;
}
mark{
	color: #000000;
	font-weight: bold;
}
.aside__ico i{
	color: #000000;
}
/*header*/

.logo{
	margin-top: 1.2%;
	padding-right: 5%;
  }
  @media screen and (max-width: 420px) {
	.logo{
	  margin-left: -75px;
	}
	}
.header-container {
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 30px;
	}
	.header-container > a {
		text-decoration: none;
		color: #ffffff;
		font-size: 28px;
	}
	header{
		background-color: #2C3639;
		position: fixed;
		width: 100%;
		z-index: 2;
	}
	#menu-container {
		position: absolute;
		top: 0;
		right: -70%;
		width: 70%;
		background-color: #181818;
		border-radius: 0 0 0 10px;
		transition: all 0.5s;
	}
	#container-close-menu {
		height: 60px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0 30px;
		color: #000000;
	}
	nav ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
		margin-left: -22px;
	}
	nav li {
		text-align: center;
		padding: 15px 0;
		border-top: 1px solid rgb(197, 196, 196);
	}
	nav a {
		display: block;
		text-decoration: none;
		color: #ffffff;
	}
	@media screen and (min-width: 576px) {
		.header-container {
			padding: 0;
		}
		#responsive-menu-button {
			display: none;
		}
		#menu-container {
			position: static;
			width: auto;
			background-color: transparent;
			border-radius: 0;
		}
		#container-close-menu {
			display: none;
		}
		nav ul {
			flex-direction: row;
			margin: 0;
		}
		nav li {
			border: none;
			padding: 0 20px;
		}
		nav a {
			color: #ffffff;
		}
	}
	.header-button{
		color: #ffffff;
		font-size: 32px;
	}
	
	/*main*/

	#negro{
		padding-top: 40px;
		/*background-image: url(img/fondos/sunbeams-gb051a7a5a_1280.jpg);
    background-size: cover;*/				
		/*background: linear-gradient(180deg,#d6cfcf,#93a6af);*/
	}
	.negro__row{
			margin-top: 20px;
			margin-bottom: 20px;
	}
	#div__aside{
			padding-top: 60px;
	}
	#div__aside aside ul li a i:hover{
		color: #24744d;
	  }
	a{
		text-decoration: none;
	}
	#div__aside aside ul li a i{
		font-size: 20px;
	}
	ul{			
		list-style: none;
	}	
	.cajon {
  	position: fixed;
		width: 180px;
		top: 0%;
		right: 1%;
		border-left: 10px;
		border-right: 10px;
  	z-index: 1;
		box-shadow: #666565 1px 1px 2px;
	}
	.cajoncaja {
  	padding: 10px;
		width: 180px;
		height: 350px;
	}
	mark{
		background: none;
	}
	.bi-hand-index-thumb-fill{
		font-size: 25px;		
  	cursor: move;
	}
	.texto{
		text-align: center;
		margin-top: 40px;
		margin-bottom: 20px;
		min-width: 240px;
		border-radius: 10px;
	}
	.boceto__img{	
		cursor: zoom-in;
		min-width: 175px;
		position: relative;
		/*background-color: #dedede;*/
		border: #4f5052 solid 1px;
		box-shadow: #181818 5px 10px 15px;
		margin: 20px;
		border-radius: 5px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 15px;
		transition: transform 1s;
		transition-delay: .1s;
	}
	.boceto__img:active{
		transform: scale(1.5,1.5);
		z-index: 2;
	}
	.boceto__img a button{
		position: absolute;
		bottom: 4px;
		right: 20px;
		width: 35px;
		height: 22px;
		border-radius: 15px;
		font-size: 8px;
		padding: 0;
	}
	.img__main{
		width: 100%;
	}
	@media screen and (max-width: 656px) {
				#div__aside {
					position: fixed;
					width: 100px;
					top: 0%;
					right: 0%;
					z-index: 1;
					width: 100%;
					height: 140px;
					border-left: 10px;
					border-right: 10px;
				}
				.cajon{
					box-shadow: none;
				}
				aside ul{
					display: inline-flex;
				}
				mark{
					display: none;
				}
				.aside__ico{
					padding-right: 3px;
					padding-left: 3px;
				}
				.bi-hand-index-thumb-fill{
					display: none;
				}
			}

	/*pre-footer*/

	.we-need-you {
		color: #000000;
		background-color: #1a6a93;
		text-align: center;
		height: 265px;
	}
	.carousel-item{
		height: 265px;
	}
	.carousel-control-prev{
		left: 13%;
	}
	.carousel-control-next{
		right: 13%;
	}
	.natu{
		max-width: 100%;
		height: 100%;
		margin: auto;
	}
	
	/*footer*/
	
	footer {
		background-color: #2C3639;
		padding: 25px 0;
	}
	footer ul {
		list-style: none;
		margin: 0;
	}
	footer ul a {
		color: #ffffff;
		text-decoration: none;
		display: block;
		padding: 5px 0;
	}
	footer ul a:hover {
		text-decoration: underline;
	}
	.iconos {
		padding: 25px 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.iconos button {
		height: 40px;
	}