body {
  background-color: #000000;
  color: #ffffff;
}

/* Header */

.header-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header-container > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 28px;
}

.header-container > i {
  font-size: x-large;
}

#menu-container {
  position: absolute;
  top: 0;
  right: -71%;
  width: 70%;
  background-color: #f8f8ff;
  border-radius: 0 0 0 10px;
  transition: all 0.5s;
}

#container-close-menu {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  color: #000000;
}

header nav ul {
  list-style: none;
  margin: 0 0 0 -32px;
}

header nav a {
  border-top: 1px solid rgb(197, 196, 196);
  display: block;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  color: #000000;
}

/* Main de Home */

.presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.presentation-container h2 {
  margin-bottom: 25px;
}

.presentation-container p {
  line-height: 2;
}

#guepardo {
  width: 100%;
}

.we-need-you {
  color: #000000;
  background-color: #f8f8ff;
  text-align: center;
  padding: 50px 0;
}

.we-need-you p {
  margin-top: 30px;
  margin-bottom: 50px;
}

.we-need-you button {
  background-color: #808080;
  border-radius: 25px;
  padding: 10px 50px;
  border: none;
  color: #ffffff;
}

/* Footer */

footer {
  background-color: #181818;
  padding: 25px 0;
}

footer ul {
  list-style: none;
  margin: 0;
}

footer ul a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

footer ul a:hover {
  text-decoration: underline;
}

.iconos {
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconos button {
  height: 40px;
}

/* Donaciones */

.form {
  background-color: #f8f8ff;
  color: #000000;
  border-radius: 25px;
  border: 1px solid rgb(197, 196, 196);
  margin: 50px auto;
  padding: 60px;
}

.form-container {
  width: 90%;
  max-width: 420px;
  margin: auto;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  counter-reset: step;
  padding: 25px 0;
}

.progress-bar::before, .progress {
  content: "";
  height: 4px;
  width: 100%;
  background-color: rgb(197, 196, 196);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.progress {
  background-color: #91FBB4;
  width: 0%;
}

.progress-step {
  width: 45px;
  height: 45px;
  background-color: rgb(197, 196, 196);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: 75%;
  color: rgb(172, 172, 172);
}

.progress-step-active {
  background-color: #91FBB4;
}

.form-step {
  display: none;
  animation: animate 0.5s;
  transform-origin: top;
}

.form-step-active {
  display: block;
}

@keyframes animate {
  from {
    transform: scale(1,0);
    opacity: 0;
  }
  to {
    transform: scale(1,1);
    opacity: 1;
  }
}

.input-style {
  display: block;
  width: 100%;
  border: none;
  background-color: #dcdcdc;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 40px;
}

.btns-group {
  display: flex;
  justify-content: space-between;
}

.btns-group > button {
  width: 49%;

}

.button {
  border: none;
  background-color: #91FBB4;
  border-radius: 5px;
  display: block;
  height: 40px;
}

.button:hover {
  background-color: green;
}

.width-50 {
  width: 49%;
}

.ml-auto {
  margin-left: auto;
}

@media screen and (min-width: 576px) {
/* Header */
  .header-container {
    padding: 0 0 0 18px;
  }

  #responsive-menu-button {
    display: none;
  }

  #menu-container {
    position: static;
    width: auto;
    background-color: transparent;
    border-radius: 0;
  }

  #container-close-menu {
    display: none;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
  }

  header nav a {
    border: none;
    color: #ffffff;
    padding: 5px 15px;
    margin: 0 3px;
  }
}