  .header-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-container > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
  }
  header{
    background-color: #181818;
  }
  nav a {
    padding: 5px 15px;
    text-decoration: none;
    color: #ffffff;
  }
  footer {
    height: 100px;
    background-color: #181818;
    position: fixed;
    bottom: 0%;
    width: 100%;
  }
.container{
  width: 80%;
}
.row{
  height: 500px;
}
body{
  background-color: #000000;
  background-image: url(https://i.gifer.com/4FQ2.gif);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
}
#vacio{
	font-size: 2rem;
  opacity: .5;
  color: aliceblue;
}