:root {
  --body-color: #a8ff78;
  --header-color: #2c3639;
  --footer-color: #2c3639;
  --menu-color: #2c3639;
  --primary-color: #f8f8ff;
  --body-font-color: #000000;
  --header-font-color: #ffffff;
  --menu-font-color: #ffffff;
  --footer-font-color: #ffffff;
  --grey: rgb(197, 196, 196);
  --button-color: #a0cbc3;
  --button-hover-color: #74cf92;
  --input-color: #dcdcdc;
}

body {
  background: var(--body-color);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #5bbbab, #5bbbab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #5bbbab, #5bbbab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: var(--body-font-color);
  overflow-x: hidden;
}

/* Header */

header {
  background-color: var(--header-color);
  color: var(--header-font-color);
  position: sticky;
  top: 0;
  z-index: 9;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.header-container img {
 height: 40px;
 margin: 10px 0;
}

.header-container > i {
  font-size: x-large;
}

#menu-container {
  position: absolute;
  top: 0;
  right: -71%;
  width: 70%;
  background-color: var(--menu-color);
  border-radius: 0 0 0 10px;
  transition: all 0.5s;
  z-index: 10;
}

#container-close-menu {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  color: var(--menu-font-color);
}

header nav ul {
  list-style: none;
  margin: 0 0 0 -32px;
}

header nav a {
  border-top: 1px solid var(--grey);
  display: block;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
  color: var(--menu-font-color);
}

/* Main de Home */

.presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 30px 0px 30px;
}

.presentation-container h2 {
  margin-bottom: 25px;
}

.presentation-container p {
  line-height: 2;
}

#guepardo {
  margin-top: 80px;
  width: 100%;
}

.we-need-you {
  background-color: #BDE4DD;
  text-align: center;
  padding: 50px 0;
}

.we-need-you p {
  margin-top: 30px;
  margin-bottom: 50px;
}

.we-need-you button {
  background-color: #03D02D;
  border-radius: 5px;
  padding: 10px 50px;
  border: none;
  color: var(--body-font-color);
}

.fa-otter{
  font-size: 40px;
  color: #000000;
}
.fa-solid{
  font-size: 40px;
  color: #000000;
}

/* Footer */

footer {
  background-color: var(--footer-color);
  padding: 25px 0;
}

footer ul {
  list-style: none;
  margin: 0;
}

footer ul a {
  color: var(--footer-font-color);
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

footer ul a:hover {
  text-decoration: underline;
}

.iconos {
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconos button {
  height: 40px;
}

/* Donaciones */

.form {
  background-color: var(--primary-color);
  color: var(--body-font-color);
  border-radius: 25px;
  margin: 50px auto 0 auto;
  padding: 50px 50px;
}

.form-container {
  height: 430px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  counter-reset: step;
  padding: 25px 0;
}

.progress-bar::before, #progress {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--grey);
  position: absolute;
  top: 48%;
}

#progress {
  background-color: var(--button-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 45px;
  height: 45px;
  background-color: var(--grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: 75%;
  color: var(--grey);
}

.progress-step-active {
  background-color: var(--button-color);
  transition: 0.5s;
}

.form-step {
  display: none;
  animation: animate 0.5s;
  transform-origin: top;
}

.form-step-active {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: space-between;
  padding-top: 10px;
}

@keyframes animate {
  from {
    transform: scale(1,0);
    opacity: 0;
  }
  to {
    transform: scale(1,1);
    opacity: 1;
  }
}

.input-style {
  display: block;
  width: 100%;
  border: none;
  background-color: var(--input-color);
  border-radius: 5px;
  margin-bottom: 10px;
  height: 40px;
}

.input-error {
  border: 2px solid #ff0000;
}

.relative {
  position: relative;
}

.error-message {
  background-color: #ff0000; 
  color: white; 
  position: absolute; 
  top: -12px; 
  font-size: small; 
  border-radius: 5px; 
  margin-left: 5px; 
  padding: 0 5px;
}

.check-container {
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
}

.check-container > label {
  padding-bottom: 6px;
  margin-right: 10px;
}

.check-container > input {
  height: 15px;
  width: 15px;
}

#resumen > p {
  height: 40px;
}

.btns-group, .inline-input {
  display: flex;
  justify-content: space-between;
}

.btns-group a {
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  background-color: var(--button-color);
  border-radius: 5px;
  display: block;
  min-height: 40px;
}

.button:hover {
  background-color: var(--button-hover-color);
}

.width-2 {
  width: 47%;
}

.ml-auto {
  margin-left: auto;
}

#thank-you {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thank-you > h5 {
  text-align: center;
}

#donation-summary-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#spinner-wrapper {
  flex: auto;
  display: none;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 992px) {
/* Header */
  .header-container {
    padding: 0 0 0 18px;
  }

  #responsive-menu-button {
    display: none;
  }

  #menu-container {
    position: static;
    width: auto;
    background-color: transparent;
    border-radius: 0;
  }

  #container-close-menu {
    display: none;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
  }

  header nav a {
    border: none;
    color: var(--header-font-color);
    padding: 5px 15px;
    margin: 0 3px;
  }

  /* Donaciones */

  .form {
    padding: 60px 60px;
  }
}


/* spinner */


.sk-circle {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: var(--button-hover-color);
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}